src/main/mule/test-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a26ebf2e-6e42-40e8-905b-251a80841c4e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="test-muleFlow" doc:id="f8c56219-2f4a-4eae-bd5a-034df42f840f" >
		<http:listener doc:name="Listener" doc:id="ce978917-3ecc-47c7-b723-6de89c4cab78" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="11cae7e2-f73c-4a86-8172-a096cbaf5b29" message="testing"/>
		<set-payload value='#[%dw 2.0 output application/json --- {"message" : "success"}]' doc:name="Set Payload" doc:id="b9d6670f-9698-4e45-9017-145b89484d1b" mimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="26bcffc2-9433-46bf-88cc-c15b389fb1e1" message="#[payload]"/>
	</flow>
</mule>
